<head><link href="components/css/acceuilStyle.css" rel="stylesheet">
</head>
<nav>
    <div class="parent">
        <div class="child" id="logo">
            <h1>IAGI GS<h1>
        </div>
        <div class="child" id="acceuil">
            <a href="acceuil.php">Accueil</a>
        </div>
        <div class="child" id="addPr">
            <a href="ajouterProduit.php">Ajouter Produit</a>
        </div>
        <div class="child" id="quit">
        <a href="components/logout.php">Se deconnecter</a>
        </div>
    </div>
</nav>