<link href="components/css/acceuilStyle.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<nav>
    <div class="parent">
        <div class="child" id="logo">
            <h1>IAGI GS <i class="fa-solid fa-warehouse"></i><h1>
        </div>
        <div class="child" id="acceuil">
            <a href="acceuil.php">Accueil</a>
        </div>
        <div class="child" id="addPr">
            <a href="ajouterProduit.php">Ajouter Produit</a>
        </div>
        <div class="child" id="quit">
            <a href="components/logout.php">Se deconnecter</a>
        </div>
    </div>
</nav>